<div *ngIf="isLoading" class="loading">
  <p>Cargando detalles de la factura...</p>
</div>

<div  class="factura-detail">
  <h2>Factura Detalle: 121</h2>
  <p><strong>Fecha:</strong> 2024/10/10</p>
  <p><strong>Empresa:</strong> empresa</p>
  <p><strong>Estado:</strong> pagasa</p>
  <p><strong>Importe:</strong> importe</p>
  
    <p><strong>Descripción:</strong> descripcion</p>
  

  <button (click)="editarFactura(1)">Editar Factura</button>
  <button (click)="volver()">Volver</button>
</div>

<div *ngIf="!isLoading && !factura" class="no-factura">
  <p>No se encontró la factura.</p>
</div>
