<div class="container">


<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Revisa tus gastos</h5>
          <p class="card-text">Accede a la pagina de informes.</p>
          <a routerLink="/reports" class="btn btn-primary">Informes</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Añade o edita tus gastos</h5>
          <p class="card-text">Crea, edita o elimina tus gastos.</p>
          <a routerLink="/expenses" class="btn btn-primary">Gastos</a>
        </div>
      </div>
    </div>
  </div>
</div>