<nav
  class="navbar navbar-expand-md navbar-light"
  style="background-color: #d3b287"
>
  <div class="container-fluid">
    <div>
      <img
        class="logo"
        src="/assets/images/kawiilLogo_focus.png"
        height="50"
        alt=""
      />
      <a class="navbar-brand webTitle" routerLink="/"> K'awiil</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        @if (!logged) {
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Accede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Regístrate</a>
        </li>
        }
        @else if (logged) {

        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">menú</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact">contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/expenses">facturas</a>
        </li>
        
        <li class="nav-item">
          <button class="nav-link" (click)="logout()">logout</button>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>