<div class="wbs-hero-component">
    <div class="wbs-hero-7-content">
      <div class="wbs-container-2">
        <div data-w-id="87034eb0-58be-ff99-19b0-45abf62f17a0" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;" class="scroll-move-down-animation">
          <p class="titulin home scroll-move-down-anitamation">
            para autónomos, empresas y asesorías
          </p>
          <h1 class="h1 extra-bold home scroll-move-down-anitamation">
            Una nueva forma de
            <span class="text-span-174">gestionar tu negocio</span>
          </h1>
        </div>
        <div class="combine-container-small">
          <div data-w-id="87034eb0-58be-ff99-19b0-45abf62f17a9" class="combine-text-align-center">
            <div class="flex-box y-center mobile-display">
              <p class="p home">Controla en un solo lugar tu&nbsp;</p>
              <div class="typed-words">gestión de clientes</div>
            </div>
            <div class="combine-space-medium"></div>
            <div class="combine-button-wrapper">
              <a href="es/cuentas/registro" class="button-3 w-button">Empieza Gratis</a>
              <a href="es/contacto" class="button-3 ghost w-button">Contáctanos</a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>